article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background-color: #f2f2f2;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height:100%;
}
.carousel,.item,.active{
  /* height: 50%; */
}
.carousel-inner{
  height: 100%;
}
.carousel {
  width: 90%;
}

/* Titles */

/* font-family: 'Roboto Slab', serif;
font-family: 'Lato', sans-serif; */


h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: center;
}

h3 {
  font-family: 'Roboto Slab', serif;
  color: #000000;
  font-weight: 400;
  line-height: 46px;
  font-size: 16px;
}

h4 {
  color: #95a5a6;
  font-weight: 400;
  font-size: 18px;
}

/* Shrinks header texts on shorter screens */
@media(max-height: 700px) {
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  h2 {
    font-size: 20px;
  }
}

/* Shrinks h3 text (header and aboutus) on smaller screens */
@media(max-width: 1030px) {
  h3 {
    font-size: 14px;
  }
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  /* margin-bottom: 25px; */
  font-size: 15px;
}

.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* Helpers */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* For smaller screen sizes, add padding so nothing touches side of screen */
@media (max-width: 1200px) {
  .wrapper {
    padding: 0 50px;
  }
}

/* Darkening the background image */
.black-screen {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

i {
  margin: 8px;
  color: #3498db;
}

/* General Height Formatting */
header, section {
  height: 100vh;
}

@media (max-width: 700px) {
  header, section {
    height: 100%;
  }
}

@media (max-height: 1030px) {
  header, 
  section.howitworks,
  section.tenants,
  section.seekers {
    height: 100%;
  }
}

/* Links */

a {
  color: #3498db;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #A9A9A9;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  transform: translateX(-100vw);
  background-color: #1abc9c;
  border-color: transparent;
  color: white;
  font-size: 18px;
  padding: 5px 50px;
  z-index: 1000;
  width: 100%;
}

.nav a {
  color: white;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: none;
}

.nav-left {
  float: left;
  display: flex;
  position: relative;
}

.nav-left img {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0;
  top: -12px;
}

.nav-left a {
  font-size: 25px;
  padding-top: 8px;
  position: absolute;
  left: 80px;
  top: 5px;
}

.nav-right {
  float: right;
}

.nav li {
  padding: 13px 15px 0 15px;
}
.nav li:hover {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.nav-slide {
  animation: navSlide 0.5s linear;
}

@keyframes navSlide {
  0% {
    transform: translateX(-100vw)
  }
  100% {
    transform: translateX(0)
  }
}

@media (max-width: 1200px) {
  .nav {
    font-size: 16px;
  }
  .nav li {
    padding: 10px 15px 0 15px;
  }
  .nav-left img {
    width: 70px;
    height: 70px;
    top: -10px;
  }
  .nav-left a {
    font-size: 23px;
    left: 63px;
    top: 4px;
  }
  .nav li:last-of-type {
    padding-right: 0;
  }
}

@media (max-width: 1000px) {
  .nav-right {
    display: flex;
  }
  .fa-bars {
    z-index: 2000;;
  }
  .hamburger {
    display: block;
    z-index: 2051;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  svg.hamburger {
    z-index: 2051;
    font-size: 35px;
    padding-top: 7px;
  }
}

/* Header */

header {
  padding-top: 10%;
}

/* Reduce space at top for smaller screen sizes */
@media (max-height: 750px) {
  header {
    padding-top: 4%;
  }
}

header h1 {
  padding: 74px 0 0 0;
  color: #1abc9c;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: left;
}

header h3 {
  margin: 25px 0;
}

/* Left side of header */
.header-left {
  float: left;
  width: 50%;
  padding: 0 25px 0 120px;
  /* For animation purposes */
  opacity: 0;
}

/* Right side of header */
.header-right {
  float: right;
  width: 50%;
}

/* Formatting The Logo */
.header-logo {
  display: block;
  width: 500px;
  margin: 0px auto 0;
  opacity: 0;
}

.header-mobile {
  display: none;
}

@media (max-width: 900px) {
  header {
    padding: 4% 50px 0;
  }
  .header-left {
    width: 60%;
    padding-left: 0px;
  }
  .header-right {
    width: 40%;
  }
  .header-logo {
    width: 350px;
    margin-top: 30%;
  }
  .header-button {
    margin-bottom: 30px;
  }
}
/* Mobile Responsiveness */
@media (max-width: 700px) {
  /* Remove horizontal layout */
  .header-left,
  .header-right {
    float: none;
  }
  /* Center and resize text container */
  .header-left {
    width: 90%;
    margin: 0 auto;
  }
  /* Hide right logo in favor of mobile logo */
  .header-right {
    display: none;
  }
  /* Display and format mobile logo */
  .header-mobile {
    display: block;
    height: 100vh;
    background-color: #1abc9c;
    width: 100%;
    position: relative;
    padding-top: 110px;
  }
  .header-mobile img {
    width: 350px;
    display: block;
    margin: 0 auto;
  }
  /* Opacity start for fade in effect */
  .mobile-logo {
    opacity: 0;
  }
  /* Down arrow Styles */
  svg.fa-angle-down {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    font-size: 30px;
    /* opacity: 0; */
  }

}

/* Animation on load, called in main.js */
.fade-in {
  animation: fadeIn 1.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* About Us */

@media(max-width: 1030px) {
  section#aboutus {
    /* Height is 100%, set about in general styles */
    width: 100%;
  }  
}

#aboutus{
  background: url(../img/7fc1b709383a42d0022bb3598a41e870.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Formatting Text Container */
#aboutus .text-container {
  width: 45%;
  padding-top: 80px;
  margin-left: 120px;
  color: red;
  /* position: absolute;  */
}

#aboutus h1 {
  color: rgb(239, 239, 239);
  margin-bottom: 80px;
  text-align: left;
  font-size: 40px;
}

#aboutus h3 {
  color: rgb(239, 239, 239);
}

/* Reduce top spacing for smaller screens */
@media (max-height: 1000px) {
  #aboutus .text-container {
    padding-top: 40px;
  }
  #aboutus h1 {
    margin-bottom: 40px;
  }
}

/* Reduce left space for smaller screens */
@media (max-width: 1400px) {
  #aboutus .text-container {
    left: 180px;
  }
}

@media(max-width: 1030px) {
  #aboutus .text-container {
    padding-bottom: 40px;
  }
}

@media (max-width: 920px) {
  #aboutus .text-container {
    width: 70%;
  }  
  #aboutus h1 {
    margin-bottom: 35px;
  }
}

/* Contact Form */

.form-control {
  /* height: 42px; */
  font-size: 18px;
  max-width: 280px;
  min-width: 200px;
}

.modal-dialog {
  max-width: 1020px;
}

#contact {
  padding: 40px 0;
}

.contact-form label {
  color: #999;
}
.contact-form-required {
  font-size: 10px;
  font-weight: normal;
}

form .row {
  display: flex;
}

form .col {
  max-width: 33.3%;
}
form .col1 {
  padding-left: 30px;
}
form .col3 {
  padding-right: 30px;
}

form .col2 {
  padding: 0 30px;
}
form .row1 {
  margin-bottom: 20px;
}

form .row3 .col2 {
  width: 45%;
  padding: 0;
  margin-left: 30px;
  margin-top: 30px;
}
form .row2 {
  margin-bottom: 30px;
}

form button {
  display: block;
  margin: 30px auto 0;
}

@media (max-width: 1050px) {
  .modal-dialog {
    width: 90%;
    margin: 0 auto;
  }
  form .row {
    flex-direction: column;
  }
  form .col {
    padding: 0;
    margin: 0 auto;
    width: 33.3%;
  }
  form input {
    margin-bottom: 10px;
  }
  form .row3 .col2 {
    margin: 10px auto 0;
  }
}
@media (max-width: 550px) {
  form .form-control,
  form label {
    margin-left: -30px;
  }
}

form label {
  max-width: none;
}
.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
  width: 100%;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #616A6B;
  border: 0;
  padding: 12px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #fabf6b;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}
.ImageBorder
{
    border-width: 10px;
    border-color: White;
}

.container{padding-bottom: 20px;
padding-top: 5px;}

/* How It works */

.howitworks h1,
.howitworks h2 {
  padding: 0 50px;
}

.howitworks h1 {
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
}

.howitworks h2 {
  margin: 30px auto 30px;
}

.howitworks .icons-container {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 200;
}
.howitworks ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.howitworks li {
  margin: 0;
  padding: 0;
}
.howitworks .moving-in-list,
  .howitworks .moving-out-list{
    display: block;
  }
.howitworks .icons-container h2 {
    margin: 0 0 20px 0;
  }

.howitworks .icons-column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 70px;
}

.howitworks .icons-column h4 {
  text-align: center;
  height: 80px;
  font-size: 16px;
}

.howitworks img {
  height: 80px;
  width: 80px;
  padding: 10px;
}

.howitworks button {
  display: block;
  margin: 0 auto;
}
.icons-mobile {
  display: none;
}
.howitworks-hamburger {
  display: none;
}

@media (max-height: 700px) {
  .howitworks img,
  .howitworks .icons-column h4 {
    height: 60px;
  }
  .howitworks img {
    width: 60px; 
  }
  .howitworks h4 {
    font-size: 15px;
  }
  .howitworks .icons-container h2 {
    margin: 10px 0 20px 0;
  }
  .howitworks h2 {
    margin: 15px auto 15px;
  }
}
/* Starting at 700px, give the section a fixed height */
@media (min-height: 700px) {
  .howitworks {
    /* height: 700px; */
  }
}

@media (max-width: 755px) {
  .howitworks .icons-column2 {
    margin-top: 22px;
  }
}

@media (max-width: 650px) {
  .howitworks h2 {
    padding: 0;
  }
  .howitworks .moving-in-list,
  .howitworks .moving-out-list{
    display: none;
  }
  .icons-mobile {
    display: flex;
    justify-content: center;
  }
  .howitworks .icons-column2 {
    display: none;
  }
  .howitworks .icons-container {
    display: block;
  }
  .howitworks .icons-container h2 {
    position: relative;
  }
  .howitworks-hamburger {
    display: block;
    position: absolute;
    right: -30px;
    top: 0;
    color: #555;
    z-index: 2000;
  }
  .heading {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* Review */

.review {
  background-image: url(../img/apartment\ 2.jpg);
  background-size: cover;
  background-position: center 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 50px;
}

/* Darkening the black screen */
.review .black-screen {
  background-color: rgba(0,0,0,0.7);
}

/* Tenants */

.tenants {
  padding-top: 40px;
}

.tenants h1 {
  margin-bottom: 20px;
}

.tenants h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.tenants-main {
  display: flex;
}

.tenants-left {
  display: flex;
  margin: 0 25px 0 50px;
}

.tenants-column1 {
  display: flex;
  flex-direction: column;
}

.tenants-column1 img, 
.tenants-column2 p {
  height: 60px;
}

.tenants-column1 img {
  width: 60px;
}

.tenants-column2 {
  margin-left: 20px;
}

.tenants-column2 p {
  margin: 0;
  padding-top: 17px;
  line-height: 22px;
}

.tenants-column2 p:nth-child(3),
.tenants-column2 p:nth-child(4) {
  padding-top: 5px;
}

.tenants-column1 img,
.tenants-column2 p {
  margin-bottom: 20px;
}

.tenants-right {
  padding-left: 25px;
}

.tenants button {
  display: block;
  margin: 20px auto 0;
}

.tenants-left, .tenants-right {
  width: 50%;
  margin: 40px 0 40px 0;
}

.tenants-left {
  padding-left: 25px;
}

.tenants-right {
  margin-left: 25px;
}

@media (min-height: 700px) {
  .tenants {
    padding-top: 60px;
    height: 700px;
  }
}
@media(max-height: 700px) {
  .tenants h2 {
    margin-bottom: 5px;
  }
}

@media(max-width:900px) {
  .tenants-column1 img, 
  .tenants-column2 p {
    height: 90px;
  }
  .tenants-column1 img {
    width: 90px;
    padding: 10px;
    margin-left: -10px;
  }
  .tenants-left {
    padding: 0;
  }
  .tenants-column2 {
    margin-left: 2px;
  }
  .tenants .carousel {
    height: none;
  }
}

/* seekers */
  
.seekers-main-container {
  display: flex;
}

.seekers-heading h1 {
  padding: 30px 0 20px 0;
}

.seekers-heading {
  text-align: center;
}

.seekers-left, .seekers-right {
  width: 50%;
  margin: 40px 0 0 0;
}

.seekers-left {
  padding-left: 25px;
}

.seekers-right {
  padding-top: 20px;
  margin-left: 25px;

}

.seekers-right .icon {
  display: flex;
  align-items: center;
  margin: 1% 0;
}
.seekers-right .icon img {
  width: 60px;
  margin-right: 20px;
  /* padding: 10px; */
}

.seekers-right button {
  display: block;
  margin: 20px auto 0;
}

.seekers-right p {
  line-height: 22px;
  padding-top: 10px;
}

/* Footer */

footer {
  /* margin-top: 100px; */
}

footer h3 {
  color: white;
  font-weight: 600;
}

.footer-top {
  background-color: #a9a9a9;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 35px 0;
}

.footer-top .wrapper,
.footer-top .footer-top-column {
  display: flex;
}

/* Spacing out the columns */
.footer-top .footer-top-column2 {
  margin: 0 50px;
}

.footer-top-text {
  margin-bottom: 5px;
  color: white;
}

/* Moving down text in columns 2 and 3 */
.footer-top-column2 .footer-top-text,
.footer-top-column3 .footer-top-text {
  padding-top: 13px;
}

/* Formatting the grey circle around the svg icon */
.footer-top .footer-icon {
  width: 50px;
  height: 50px;
  background: rgb(189, 189, 189);
  border-radius: 50%;
  margin-right: 25px;
  margin-top: 5px;
}

/* Formatting the svg icons */

.footer-top-column svg {
  font-size: 60px;
  color: #fff;
}

.footer-top-column1 svg {
  padding: 10px 8px 20px 14px;
}

.footer-top-column2 svg {
  padding: 10px 4px 20px 17px;
}

.footer-top-column3 svg {
  padding: 10px 21px 18px 11px;
}

/* column dividers in Footer Top */
.footer-divider {
  background-color: rgb(207, 207, 207);
  height: 50px;
  width: 1px;
  margin-top: 5px;
}

.footer-divider-left {
  margin-left: 50px;
}

.footer-divider-right {
  margin-right: 50px;
}

/* Footer Bottom */

.footer-bottom {
  background-color: #1abc9c;
  height: 80px;
  padding: 10px 80px 0 80px;
}

.footer-bottom .wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-bottom .footer-left {
  display: flex;
  align-items: center;
}

/* Sublee Text */
.footer-left .company {
  font-size: 22px;
  color: white;
  padding-top: 8px;
}

/* Sublee Logo */
.footer-bottom .footer-left img {
  padding-bottom: 6px;
}

.footer-bottom h3 {
  padding-top: 6px;
}










