article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height:100%;
}
html{height:100%;}
.carousel,.item,.active{
  height: 100%;
}
.carousel-inner{height:100%;
}
/* Titles */

h1, h2, h3, h4, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}

h1 {
  font-size: 40px;
}

h3 {
  color: #000000;
  font-weight: 400;
}

h4 {
  color: #95a5a6;
  font-weight: 400;
  font-size: 20px;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #3498db;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #A9A9A9;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar-default #navbar #navbar-default navbar-fixed-top{
  background-color: #1abc9c;
  border-color: transparent;
}

.navbar-default .navbar-brand h5{
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 18px;
}

.navbar-toggle {
  background: #1abc9c;
}

.navbar .container {
  padding: 3px 0;
}

#aboutus{
  background-color: #1abc9c;
  margin-top: -20px;
  padding-top: 40px;
  padding-bottom: 5px;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/* Helpers */

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-control {
  height: 42px;
  font-size: 18px;
  width: 280px;
}

i {
  margin: 8px;
  color: #3498db;
}

/* Contact Form */

#contact {
  padding: 40px 0;
}

.contact-form label {
  color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
  width: 100%;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #616A6B;
  border: 0;
  padding: 12px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #fabf6b;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}
.ImageBorder
{
    border-width: 10px;
    border-color: White;
}

.container{padding-bottom: 20px;
padding-top: 5px;}

/* Start of Orrys Styles */

header {
  height: 100vh;
  background-color: #1abc9c;
  margin-top: 57px;
}

header h1 {
  padding: 74px 0 0 0;
  margin: 0 0 5px 0;
  color: white;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 1px;
}

header .left,
header .right {
  float: left;
  width: 50%;
}

header .left {
  padding: 0 25px 0 120px;
}

header .right {
  padding: 0 120px 0 25px;
}

header button {
  font-size: 18px;
  border-radius: 0px;
  padding: 10px 16px;
  color: white;
  background-color: #616A6B;
  border-color: #616A6B;
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
  width: 200px;
  margin: 0 auto;
}

header button:hover {
  text-decoration: none;
  background-color: #A9A9A9;
  border-color: #A9A9A9;
}

.header-logo {
  border-radius: 50%;
  display: block;
  width: 500px;
  margin: 0px auto 0;

}

#howitworks {
  height: 100vh;
}

.howitworks h1,
.howitworks h3 {
  text-align: center;
}

.howitworks h1 {
  padding-top: 50px;
}

.howitworks h3 {
  width: 900px;
  margin: 30px auto 50px;
}

#howitworks img {
  width: 150px;
  margin-bottom: 20px;
}


.howitworks .icons-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.tenants {
  padding-top: 25px;
}

.tenants h1 {
  text-align: center;
}

.tenants h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.tenants-icons {
  display: flex;
}

.tenants-box {
  display: flex;
  align-items: center;
}

.tenants-box-1 {
  margin-top: 20px;
}

.tenants-box-2 {
  margin-top: 20px;
}

.tenants-left, .tenants-right {
  width: 50%;
}

.tenants-left .tenants-box {
  padding: 0 12.5px 0 50px;
}

.tenants-right .tenants-box {
  padding: 0 50px 0 12.5px;
}

.tenants-box img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.tenants-box-1 img {
  height: 75px;
  width: 55px;
  margin-right: 40px;
}

.tenants-box-2 img {
  width: 75px;
}

.tenants-box-4 img {
  height: 65px;
}

.tenants-box-1 .text {
  padding-top: 20px;
}

.tenants-box-2 .text {
  padding-top: 30px;
}

.tenants-box-3 .text {
  padding-top: 25px;
}

.tenants-box-4 .text {
  padding-top: 25px;
}









